<!-- Google Analytics -->
{{ if .Site.Params.GATracker }}
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', '{{ .Site.Params.GATracker }}', 'auto');
  ga('send', 'pageview');

</script>

<script>
/**
* Function that tracks a click on an outbound link in Google Analytics.
* This function takes a valid URL string as an argument, and uses that URL string
* as the event label.
*/
var trackOutboundLink = function(url) {
   ga('send', 'event', 'outbound', 'click', url, {'hitCallback':
     function () {
     document.location = url;
     }
   });
}
</script>

<!-- link tracking -->
<script>
$(document).ready(function() {

	$("a.social-links").each(function() {
		var href = $(this).attr("href");
		var target = $(this).attr("target");
		var text = $(this).text();
		$(this).click(function(event) { // when someone clicks these links
			event.preventDefault(); // don't open the link yet
			_gaq.push(["_trackEvent", "social-buttons", "Clicked", href, , false]); // create a custom event
			setTimeout(function() { // now wait 300 milliseconds...
				window.open(href,(!target?"_self":target)); // ...and open the link as usual
			},300);
		});
	});

	$("a.subscribe-button").each(function() {
		var href = $(this).attr("href");
		var target = $(this).attr("target");
		var text = $(this).text();
		$(this).click(function(event) { // when someone clicks these links
			event.preventDefault(); // don't open the link yet
			_gaq.push(["_trackEvent", "subscribe-buttons", "Clicked", href, , false]); // create a custom event
			setTimeout(function() { // now wait 300 milliseconds...
				window.open(href,(!target?"_self":target)); // ...and open the link as usual
			},300);
		});
	});

	$(".show-notes a").each(function() {
		var href = $(this).attr("href");
		var target = $(this).attr("target");
		var text = $(this).text();
		$(this).click(function(event) { // when someone clicks these links
			event.preventDefault(); // don't open the link yet
			if (href.indexOf("{{ .Site.Params.social.twitter_domain }}")==-1) {
				_gaq.push(["_trackEvent", "outbound-links", "Clicked", href, , false]); // create a custom event
			}
			setTimeout(function() { // now wait 300 milliseconds...
				window.open(href,(!target?"_self":target)); // ...and open the link as usual
			},300);
		});
	});

});
</script>
{{ end }}
