<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
{{ partial "head.html" . }}

<body lang="{{ .Site.Params.Lang }}">
<!-- new navbar -->
<nav class="navbar navbar-fixed-top navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!-- <a class="navbar-brand" href="#">Arrested DevOps</a> -->
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
        <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Resources <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Blogs</a></li>
                  <li><a href="#">Podcasts</a></li>
                  <li><a href="#">Books</a></li>
                  <li><a href="#">Upcoming CFP's</a></li>
                </ul>
              </li>
              <li><a href = "/bananastand">Subscribe to newsletter</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="http://itunes.apple.com/us/podcast/arrested-devops/id773888088?mt=2&uo=4&at=11lsCi"><img src = "/img/itunes-subscribe-menu.png"></a>
        </li>
        <li>
          <a href="http://subscribeonandroid.com/www.arresteddevops.com/category/podcast/feed/"><img src = "/img/android-subscribe-menu.png"></a>
        </li>
        <li>
          <i class="fa fa-facebook-square fa-2x"></i> &nbsp;
        </li>
        <li>
          <i class="fa fa-twitter-square fa-2x"></i> &nbsp;
        </li>
        <li>
          <i class="fa fa-youtube fa-2x"></i> &nbsp;
        </li>
        <li>
          <i class="fa fa-google-plus-square fa-2x"></i> &nbsp;
        </li>
        <li>
          <i class="fa fa-github fa-2x"></i> &nbsp;
        </li>
      </ul>
    </div><!-- /.nav-collapse -->
  </div><!-- /.container -->
</nav><!-- /.navbar -->
<!-- end of new nav -->

<div class="container">

      <div class="row row-offcanvas row-offcanvas-right">
        <!-- <div class="col-xs-12 col-sm-9"> -->
          <!-- <p class="pull-right visible-xs">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle Sidebar</button>
          </p> -->
