<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
{{ partial "head.html" . }}

<body lang="{{ .Site.Params.Lang }}">
  <div class="container-fluid">
<div class="row">
  <div class="col-md-12">
    <nav class="navbar navbar-default" role="navigation">
      <div class="navbar-header">

        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
           <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
        </button> <a class="navbar-brand" href="#">Home</a>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="active">
            <a href="about">About Us</a>
          </li>
          <li>
            <a href="#">Contact Us</a>
          </li>
          <li>
            <a href="http://itunes.apple.com/us/podcast/arrested-devops/id773888088?mt=2&uo=4&at=11lsCi">Subscribe to Podcast</a>
          </li>

            </ul>
          </li>
        </ul>
        <form class="navbar-form navbar-left" role="search">
          <div class="form-group">
            <input type="text" class="form-control">
          </div>
          <button type="submit" class="btn btn-default">
            Submit
          </button>
        </form>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <i class="fa fa-facebook-square fa-2x"></i> &nbsp;
          </li>
          <li>
            <i class="fa fa-twitter-square fa-2x"></i> &nbsp;
          </li>
          <li>
            <i class="fa fa-youtube fa-2x"></i> &nbsp;
          </li>
          <li>
            <i class="fa fa-google-plus-square fa-2x"></i> &nbsp;
          </li>
          <li>
            <i class="fa fa-github fa-2x"></i> &nbsp;
          </li>
            </ul>
          </li>
        </ul>
      </div>

    </nav>
