<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
{{ partial "head.html" . }}

<body lang="{{ .Site.Params.Lang }}">
  <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MGTMRM"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<!-- new navbar -->
<nav class="navbar navbar-fixed-top navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!-- <a class="navbar-brand" href="#">Arrested DevOps</a> -->
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
        <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Resources <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="/blogs">Blogs</a></li>
                  <li><a href="/podcasts">Podcasts</a></li>
                  <li><a href="/books">Books</a></li>
                </ul>
              </li>
              <li><a href = "/bananastand">Subscribe to Newsletter</a></li>
              <li><a href = "/faq">ADO FAQ</a></li>
        <li><a href = "/thanks-pals">ADO Supporters</a></li>
              <li><a href = "http://store.arresteddevops.com">ADO Products</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a class = "social-links" href="https://facebook.com/{{ .Site.Params.social.facebook }}"><i class="fa fa-facebook-square fa-2x"></i></a>
        </li>
        <li>
          <a class = "social-links" href="https://twitter.com/{{ .Site.Params.social.twitter }}"><i class="fa fa-twitter-square fa-2x"></i></a>
        </li>
        <li>
          <a class = "social-links"  href="https://youtube.com/{{ .Site.Params.social.youtube }}"><i class="fa fa-youtube fa-2x"></i></a>
        </li>
        <li>
          <a class = "social-links" href="https://plus.google.com/+{{ .Site.Params.social.googleplus }}"><i class="fa fa-google-plus-square fa-2x"></i></a>
        </li>
        <li>
          <a class = "social-links" href="https://github.com/{{ .Site.Params.social.github }}"><i class="fa fa-github fa-2x"></i></a>
        </li>
      </ul>
    </div><!-- /.nav-collapse -->
  </div><!-- /.container -->
</nav><!-- /.navbar -->
<!-- end of new nav -->

<div class="container">

      <div class="row row-offcanvas row-offcanvas-right">
        <!-- <div class="col-xs-12 col-sm-9"> -->
          <!-- <p class="pull-right visible-xs">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle Sidebar</button>
          </p> -->
