{{ partial "header.html" . }}


    <div class="jumbotron">
      <p>
        {{ range first 1 .Data.Pages }}
          {{ if eq .Type "episode"}}
            <h2>{{ .Title }}</h2>
            <p>{{ .Description | markdownify}}</p>
          {{ end }}
        {{ end }}
      </p>
    </div>
    <div class="row">


        {{ range $index, $page := first 10 (where .Data.Pages "Type" "episode") }}
        {{ $index := add $index 1 }}
          <div class="col-xs-6 col-lg-5">
            <img alt = "{{ .Title }}" src = "/episode/{{ .Params.friendly }}.png" width = 200px height = 200px class="img-rounded">
            <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
            <p>
              {{ .Description | markdownify}}
            </p>
            <audio controls>
          	   <source src="{{ .Params.podcast }}" type="audio/mpeg" />
          	    <a href="{{ .Params.podcast }}">{{ .Title }}</a>
            </audio>
            </div><!--/.col-xs-6.col-lg-4-->
            {{ if (modBool $index 2 )}}
            <div class="clearfix"></div>
            {{ end }}
        {{ end }}
      </div><!--/row-->


{{ partial "footer.html" . }}
