{{ partial "header.html" . }}

<!--replaces jumbotron -->
<div class = "container-fluid">
<div class="jumbotron">
<div class="row">
				<div class="col-md-6">
					<p><b>Arrested DevOps</b> is hosted by Matty Stratton, Trevor Hess, and Bridget Kromhout. ADO is the podcast that helps you achieve understanding, develop good practices, and operate your team and organization for maximum DevOps awesomeness. Don't forget to subscribe to keep up to date!</p>
				</div>
				<div class="col-md-2">
					<a href = "/host/matt"><img alt="Matty Stratton" src="/img/matt.png" class="img-circle image-centered image-responsive" width="150px" /></a></a>
          <p align = "center">Matty</p>
				</div>
				<div class="col-md-2">
					<a href = "/host/trevor"><img alt="Trevor Hess" src="/img/trevor.png" class="img-circle image-centered image-responsive" width="150px"/></a>
          <p align = "center">Trevor</p>
				</div>
				<div class="col-md-2">
					<a href = "/host/bridget"><img alt="Bridget Kromhout" src="/img/bridget.png" class="img-circle image-centered image-responsive" width="150px"/></a>
          <p align = "center">Bridget</p>
				</div>
			</div>
			<div class = "row">
				<div class = "col-md-12">
					<ul class="list-inline">
						<li>
							<a class="btn btn-default" href="http://itunes.apple.com/us/podcast/arrested-devops/id773888088?mt=2&uo=4&at=11lsCi" class="subscribe-button" id="itunes_subscribe"><i class="fa fa-apple"></i> Subscribe on iTunes</a>
						</li>
						<li>
							<a class="btn btn-default" href="https://goo.gl/app/playmusic?ibi=com.google.PlayMusic&isi=691797987&ius=googleplaymusic&link=https://play.google.com/music/m/Ihj4yege3lfmp3vs5yoopgxijpi?t%3DArrested_DevOps" class="subscribe-button" id="google_subscribe"><i class="fa fa-music"></i> Subscribe on Google Play Music</a>
						</li>
						<li>
							<a class="btn btn-default" href="http://subscribeonandroid.com/www.arresteddevops.com/episode/index.xml" class="subscribe-button"><i class="fa fa-android"  id="android_subscribe"></i> Subscribe on Android</a>
						</li>
						<li>
							<a class="btn btn-default" href="https://www.arresteddevops.com/episode/index.xml" class="subscribe-button" id="rss_subscribe"><i class="fa fa-rss"></i> Subscribe via RSS</a>
						</li>
					</ul>
				</div>
			</div>

</div> <!--jumbo-->
</div> <!--container-->
<!-- end new jumbo -->
    <section class="container-fluid episode-list">
      <div class="col-md-12 episode-list-header">
        <h3>All Episodes</h3>
      </div>

    <div class="row">

        {{ $paginator := .Paginate (where .Data.Pages "Type" "episode") }}
        {{ range $paginator.Pages }}
        <a href="{{ .Permalink }}">
          <div class="col-md-4">
            <div class="episode-image-homepage">
              <img src = "/episode/img/{{ .Params.friendly }}.png" class="img-responsive" alt="{{ .Title }}">
              <div class="caption post-content"></div>
              <div class="details">
                {{ title .Title }} (ADO{{ .Params.episode }})
              </div>

            </div>
          </div>
        </a>
        {{ end }}
      </div>
    </section>
    <!--pagination-->
    <div class="row">
  		<div class="col-md-offset-4 col-md-6">
        {{ template "_internal/pagination.html" . }}
  		</div>
  	</div>
    <!--pagination-->


{{ partial "footer.html" . }}
