{{ partial "header.html" . }}

<!--replaces jumbotron -->
<div class="jumbotron">
<div class="row">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-6">
					<p><b>Arrested DevOps</b> is a bi-weekly podcast hosted by Matt Stratton, Trevor Hess, and Bridget Kromhout, where we introduce you to the basics of DevOps. The show is panel-based and we talk to cool people. Don't forget to subscribe to keep up to date!</p>
				</div>
				<div class="col-md-2">
					<img alt="Matt Stratton" src="/img/matt.png" class="img-circle" width="150px" />
          <!-- <p>Matt Stratton</p> -->
				</div>
				<div class="col-md-2">
					<img alt="Trevor Hess" src="/img/trevor.png" class="img-circle" width="150px"/>
          <!-- <p>Trevor Hess</p> -->
				</div>
				<div class="col-md-2">
					<img alt="Bridget Kromhout" src="/img/bridget.png" class="img-circle" width="150px"/>
          <!-- <p>Bridget Kromhout</p> -->
				</div>
			</div>
		</div>
	</div>
  <!-- end new jumbo -->
</div>
    </div>
    <div class="row">

        {{ $paginator := .Paginate (where .Data.Pages "Type" "episode") }}
        {{ range $paginator.Pages }}
          <div class="col-md-4">
            <div class="thumbnail">
              <img src = "{{ .Site.BaseURL }}/episode/img/{{ .Params.friendly }}.png" class="img-responsive">
              <div class="caption post-content"></div>
              <div class="details">
                {{ title .Title }}
              </div>
            </div>
          </div>
        {{ end }}
      </div>
    <!--pagination-->
    <div class="row">
  		<div class="col-md-12">
        {{ template "_internal/pagination.html" . }}
  		</div>
  	</div>
    <!--pagination-->


{{ partial "footer.html" . }}
