{{ partial "header.html" . }}

  <h1>{{ .Title }}</h1>

  {{ .Description | markdownify }}

  <h2>Show Notes</h2>

  {{ .Content }}

  <div><audio src="{{ .Params.podcast }}" preload="auto" /></div>

<h2>Guests</h2>

<div>{{.Site.Data.guests.jhand.Name}}</div>

  <img src = "/img/guests/{{.Site.Data.guests.jhand.Name}}.png">




<hr />

<div><a href = "{{.Site.Data.sponsors.pagerduty.url}}">{{.Site.Data.sponsors.pagerduty.Name}}</a></div>
<div>
{{ template "_internal/disqus.html" . }}
</div>

{{ partial "footer.html" . }}
