{{ partial "header.html" . }}

  <h1>{{ .Title }}</h1>

  {{ .Description | markdownify }}

  <h2>Show Notes</h2>

  {{ .Content }}

  <div><audio src="{{ .Params.podcast }}" preload="auto" /></div>

<h2>Guests</h2>
<div>
{{ range $person :=.Params.guests }}
  {{ $person }}<br />
{{ end }}
</div>

  <img src = "/img/guests/{{.Site.Data.guests.jhand.Name}}.png">
  <br />
  <a href = "https://twitter.com/{{.Site.Data.guests.jhand.Twitter}}">@{{.Site.Data.guests.jhand.Twitter}}</a>




<hr />

<div><a href = "{{.Site.Data.sponsors.pagerduty.url}}">{{.Site.Data.sponsors.pagerduty.Name}}</a></div>
<div>
{{ template "_internal/disqus.html" . }}
</div>

{{ partial "footer.html" . }}
