{{ partial "header.html" . }}

  <h1>{{ .Title }}</h1>

  {{ .Description | markdownify }}

  <audio controls>
  	<source src="{{ .Params.podcast }}" type="audio/mpeg" />
  	<a href="{{ .Params.podcast }}">{{ .Title }}</a>
  </audio>

  <h2>Show Notes</h2>

  {{ .Content }}


<h2>Guests</h2>
{{ range $person :=.Params.guests }}
  {{ if isset $.Site.Data.guests $person }}
    <div class="row">
      <div class="col-md-3">
        <img src = "/img/guests/{{$person}}.png">
      </div>
      <div class="col-md-9">
        <h2>{{ (index $.Site.Data.guests $person).FullName }}</h2>
        <p>{{ (index $.Site.Data.guests $person).Bio }}</p>
      </div>
    {{ end }}
    </div>
{{ end }}




<hr />

<div><a href = "{{.Site.Data.sponsors.pagerduty.url}}">{{.Site.Data.sponsors.pagerduty.Name}}</a></div>
<div>
{{ template "_internal/disqus.html" . }}
</div>

{{ partial "footer.html" . }}
