{{ if .Get "url" }}
  <a href='{{ .Get "url"}}' target = 'new'>{{ .Get "title"}}</a>
{{ else }}
  {{ .Get "title" }}
{{ end }}

{{ if .Get "itunes" }}
  <a href='{{ .Get "itunes" }}' target = '_new'><i class="fab fa-apple fa-2x" aria-hidden="true"></i></a>
{{ end }}

{{ if .Get "android" }}
 <a href='{{ .Get "android" }}' target = '_new'><i class="fab fa-android fa-2x" aria-hidden="true"></i></a>
{{ end }}

{{ if .Get "rss" }}
  <a href='{{ .Get "rss" }}' target = '_new'><i class="fa fa-rss fa-2x" aria-hidden="true"></i></a>
{{ end }}
